version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    assignees:
      - "patrickschroeter"
  - package-ecosystem: "uv"
    directory: "/"
    schedule:
      interval: "weekly"
    assignees:
      - "patrickschroeter"
