[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "~=5.1"
termcolor = "~=1.1.0"
"jinja2" = "~=2.10"
markupsafe = "~=1.1"
packaging = ">=16.0"

[dev-packages]
"e1839a8" = {path = ".", editable = true}
pylint = ">=2.3.1"
pytest = ">=5.3.2"

[requires]
python_version = "3.7"
