[tool]
[tool.poetry]
name = "b5"
version = "1.4.0"
description = "b5 - simple and sane task runner"
authors = ["David Danier <danier@team23.de>"]
maintainers = ["David Danier <danier@team23.de>"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/team23/b5"
repository = "https://github.com/team23/b5"
documentation = "https://github.com/team23/b5/tree/master/docs"
classifiers = [
    'Development Status :: 5 - Production/Stable',
    'Environment :: Console',
    'Intended Audience :: Developers',
    'Intended Audience :: System Administrators',
    'License :: OSI Approved :: BSD License',
    'Operating System :: MacOS :: MacOS X',
    'Operating System :: Unix',
    'Operating System :: POSIX',
    'Operating System :: POSIX :: Linux',
    'Programming Language :: Python',
    'Programming Language :: Python :: 3 :: Only',
    'Programming Language :: Python :: 3.8',
    'Programming Language :: Python :: 3.9',
    'Programming Language :: Python :: 3.10',
    'Topic :: Software Development',
    'Topic :: Software Development :: Build Tools',
    'Topic :: System :: Systems Administration',
]

[tool.poetry.dependencies]
python = ">=3.8.1,<4.0"
Jinja2 = "^3.1.2"
MarkupSafe = "^2.1.2"
PyYAML = "^6.0"
termcolor = "^2.2.0"
packaging = "^23.0"

[tool.poetry.group.dev.dependencies]
pytest = "^7.2.1"
isort = "^5.12.0"
flake8 = "^6.0.0"
flake8-builtins = "^2.1.0"
flake8-commas = "^2.1.0"
flake8-isort = "^6.0.0"
flake8-debugger = "^4.1.2"
flake8-annotations = "^3.0.0"
pytest-cov = "^4.0.0"

[tool.poetry.scripts]
b5 = 'b5.main:main'
b5-init = 'b5.init:main'
b5-execute = 'b5.execute:main'

[tool.isort]
multi_line_output = 3
include_trailing_comma = true
line_length = 140

#[build-system]
#requires = ["poetry>=0.12"]
#build-backend = "poetry.masonry.api"
